<%- include('partials/header'); -%> 
<h1>Compose</h1>
<form action="/compose" method="post">
    <label class="form-label">Title</label>
    <input type="text" name="newBlogTitle" class="form-control">
    <label class="form-label">Post</label>
    <textarea name="newBlogContent" class="form-control blogContent" rows="4"></textarea>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include('partials/footer'); -%> 